@font-face {
	font-family: inter-regular;
	src: url(../fonts/Inter-Regular.otf);
}

@font-face {
	font-family: poppins-regular;
	src: url(../fonts/Poppins-Regular.otf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: poppins-regular;
}

.main_content {
	padding: 1rem;
	hr {
		margin-bottom: 1rem;
	}
}

.switch {
	flex-shrink: 0;
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch:disabled {
	filter: grayscale(50%);
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #ccc;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	transform: translateX(14px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.option {
	width: 100%;
	display: flex;
	gap: 10px;
	justify-content: space-between;
	.text > p:nth-of-type(2) {
		font-size: 0.7rem;
		color: gray;
	}
}

.options {
	width: 210px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.group_option {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.2rem;
	.reset_button {
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		background-color: #d0021b;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		svg {
			width: 40%;
		}
	}
}
